.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #000; 
    color: #fff;
  }
  
  .footer-section {
    width: 30%; 
  }
  
  .footer-section h3 {
    /* border-bottom: 2px solid #fff; */
    padding-bottom: 10px;
  }
  
  .footer-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 10px;
  }
  
  .app-icons {
    align-self: flex-end;
  }
  
  .app-icons img {
    margin-left: 10px;
  }
  