<mat-toolbar color="primary" class="custom-toolbar">
    <div class="cont" >
        <span ><a routerLink="/"><img src="../../assets/rent-wyse-logo.svg" alt="Logo" class="logo"></a></span>
        <!-- <span *ngIf="!userIsAuth"><a routerLink="/"><img src="../../assets/rent-wyse-logo.svg" alt="Logo" class="logo"></a></span> -->

        
        <span class="spacer"></span>
        <ul class="nav-list">
            <li *ngIf="userIsAuth">
                <a mat-button routerLink="/message" routerLinkActive="active-link">
                    Messages
                    <span matBadge="{{ unreadMessageCount }}" matBadgeOverlap="false" *ngIf="unreadMessageCount > 0">
                      </span>
                </a>
            </li>
                <li *ngIf="userIsAuth">
                    <a mat-button routerLink="/auth/settings" routerLinkActive="active-link">Settings</a>
                </li>
                <li *ngIf="userIsAuth">
                    <a mat-button routerLink="/my-listing" routerLinkActive="active-link">My Rentals</a>
                </li>
             <li >
                <a mat-button routerLink="/list" routerLinkActive="active-link">Rentals</a>
            </li>    
            <li *ngIf="!userIsAuth">
                <a mat-button routerLink="/auth/login" routerLinkActive="active-link">Login</a>
            </li>
            <li *ngIf="!userIsAuth">
                <a mat-button routerLink="/auth/signup" routerLinkActive="active-link">Signup</a>
            </li>
            <!-- ADMIN ONLY BUTTON -->
            <li *ngIf="userIsAuth && isAdmin">
            <a 
                mat-button
                routerLink="/admin"
                routerLinkActive="active-link"
                class="admin-nav-btn"
            >
                Admin-Portal
            </a>
            </li>

            <li *ngIf="userIsAuth">
                <button mat-button  (click)="onLogout()" routerLinkActive="active-link">Signout</button>
            </li>
        </ul>
        <button class="menu-icon" (click)="toggleNav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
</mat-toolbar>
